.adivinha {
    border: 2px solid black;
    width: 300px;
    height: 75px;
}


.adivinha0a100 {
    border: 2px solid black;
    width: 300px;
    height: 75px;
}

.calculadora {

    border: 2px solid black;
    width: 300px;
}