@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
    text-align: center;
    margin: 50px;
}


input{
  padding: 10px;
  margin: 5px;
  width: 200px;
}

button{
  padding: 10px;
  margin: 5px;
  
}


button:hover{
  filter: blur(4);
  background-color: grey;
}
