body {
    background-color: #E7EBF0;
}


h1 {
    color: orange;
    background-color: lightblue;
}


#one {
    font-family: Verdana, Arial;
    font-size: 16px;
    background-color: lightblue;

    }

#two {
    font-family: serif;
    font-size: 12px;
    text-decoration: underline;
    font-style: italic;
    background-image: linear-gradient(to bottom, gray, white);

}



